/* src/components/ListaTopicos.css */

.topico {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.topicos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inativo {
  opacity: 0.5;
}

.botao-up {
  background-color: green;
  color: white;
}

.botao-down {
  background-color: red;
  color: white;
}

.topico-item {
  background-color: #f0f0f0; /* Cor de fundo para tópicos ativos */
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.topico-item.inativo {
  background-color: #ffeaea; /* Cor de fundo para tópicos inativos */
}
